* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 16px 0px;
    background-color: #182c61;
    color: white;
}

header,
section h2 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

header nav li {
    display: inline;
    margin-left: 8px;
    margin-right: 16px;
}

header nav li a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandslist img {
    height: 24px;
}

.brandslist li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #182c61;
}

section .section {
    margin-left: 32px;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}